.home-wrapper-2 {
    background-color: var(--color-gray-white);
}

.main-content-brands h2{
  text-align: left;
  margin-left: 8px;
  font-weight: 500;
}

.carousel,
.carousel-inner .carousel-item img{
    max-height: 440px;
}

@media screen and (max-width: 768px){
    .carousel{
        display: none;
    }
}